.modeTitle {
  padding: 30px;
  width: 100%;
  text-align: center;
}

.modeDescription {
  padding: 10px;
  width: 100%;
  text-align: center;
}

.mainButton {
  width: 100%;
  text-align: center;
}

.workColor {
  background-color: #5BC8AC;
}

.breakColor {
  background-color:#E6D72A;
}

.overrunBreakColor {
  background-color: #F18D9E;
}

.pausedColor {
  background-color: #98DBC6;
}